body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #90EE90;
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
