body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #ff6b6b, #87ceeb, #98fb98);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  form {
    background-color: #b3e0ff; /* Light blue color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h2 {
    color: #333;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  .logo-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 0;
  }
  
  .logo-container img {
    max-width: 100%;
  }
  
  .login-container {
    text-align: center;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  